<div class="oj-hybrid-padding">
    <h1>Dashboard Content Area</h1>
    <div>
        To change the content of this section, you will make edits to the dashboard.html file located in the /ts/views
        folder.
    </div>
    <h1>Login - </h1>
    <div>

        <oj-c-input-text id="text-input" value="{{username}}" label-hint="Enter the username"
            label-edge="inside"></oj-c-input-text>


            <oj-c-input-password label-hint="enabled no value" value="{{password}}"></oj-c-input-password>

        <oj-c-button id="btn" on-oj-action="[[input_handler]]" label="submit"></oj-c-button>
    </div>
</div>